# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environment
venv/
env/
ENV/
neu/

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Database
*.db
*.sqlite3

# Coverage reports
htmlcov/
.coverage
.coverage.*

# PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

keys_poc/

localrun.py